<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=utf-8</value>
                        <value>text/html;charset=utf-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- spring和springmvc中都设置了注解扫描，springmvc是子扫描，spring是父扫描
        一般是service层有事务，而子扫描会覆盖父扫描，但是子扫描中又没有处理事务的能力，造成有事务声明也不起作用。
        只有spring的扫描才能正确处理事务，因此需要在子扫描中排除对service层（一般情况下是service层）的注解扫描。
    -->
    <context:component-scan base-package="com.loe.**">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp"/>
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>
    
    <mvc:interceptors>
        <!-- 如果只使用bean定义一个Interceptor， 将拦截所有的请求 -->
        <!-- <bean class="com.loe.interceptor.UserInterceptor" />-->

        <!-- 定义在mvc:interceptor下面的表示是对特定的请求才进行拦截的 -->
        <mvc:interceptor>
            <mvc:mapping path="/user/user1"/>
            <bean class="com.loe.interceptor.UserInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置默认上传的字符集-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 在内容中最大的存储容量，多余的存放在硬盘上-->
        <property name="maxInMemorySize" value="100000"/>
        <!-- 总文件大小， 大小是字节 1024000，表示102.4KB-->
        <property name="maxUploadSize" value="1024000"/>
        <!-- 单个文件大小，大小是字节 1024000，表示102.4KB-->
        <property name="maxUploadSizePerFile" value="1024000"/>
    </bean>
</beans>